body {
  background: black;
}

.container{
  width: 60%;
  display: flex;
  background-color: #c8c8c830;
  padding : 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  align-items: center;
  justify-content: center;
  border-radius: 12px;
  box-shadow: 0 0 20px 2px #fdfdfd;
}
.clock {
  color: #fe1717;
  font-size: 40px;
  font-family: Orbitron;
  letter-spacing: 7px;
}